/*
Custom css for IFN app.
Citations:
  - input, div.outer, #cite and #controls taken from superzip shiny example
    (https://github.com/rstudio/shiny-examples/blob/master/063-superzip-example/styles.css)
*/

input[type="number"] {
  max-width: 80%;
}

/* map container */
div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* table container */
div.inner {
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  overflow: auto;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* Controls */
#dataControls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  z-index: 1000;
}
#dataControls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

#vizControls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  z-index: 999;
}
#vizControls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Shape conditional selector */
#infoPanel {
  /* Appearance */
  background-color: white;
  padding: 5px 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  z-index: 999;
}
#infoPanel:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

#mod_advancedFiltersUI-advancedFiltersControls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  opacity: 0.99;
  zoom: 0.9;
  z-index: 1010;
}

#mod_advancedFiltersUI-close_adv_fils {
  margin: 17px 0 7px 0;
}

#tururu > li > a {
  width: 263px;
}

#controls_buttons {
  padding-left: 12px;
}

/* debug panel */
#debug {
  z-index: 1200;
}
